@mixin scroll {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: var(#{$ux-prefix}-scrollbar-track-color) var(#{$ux-prefix}-scrollbar-thumb-color);

  @supports selector(::-webkit-scrollbar) {
    &::-webkit-scrollbar {
      position: absolute;
      max-width: 0.6875rem;
      max-height: 0.6875rem;

      &-track {
        background-color: var(#{$ux-prefix}-scrollbar-track-color);
      }

      &-thumb {
        background-color: var(#{$ux-prefix}-scrollbar-thumb-color);

        &:hover {
          background-color: var(#{$ux-prefix}-scrollbar-thumb-hover-color);
        }
      }
    }
  }
}
